<input type="checkbox" (change)="dummy = $event.target.checked" />
<app-bug-stats [data]="bugs"></app-bug-stats>
<app-bug-sort></app-bug-sort>
<app-bug-edit (bugCreated)="onNewBugCreation($event)"></app-bug-edit>
<section class="list">
	<ol>
		<li *ngFor="let bug of ( bugs | sort:bugSortService.sortAttr:bugSortService.sortDescending )">
			<span class="bugname" 
				[ngClass]="{closed : bug.isClosed}" 
				(click)="onBugNameClick(bug)">
				{{bug.name | trimText:40}}
			</span>
			<div class="datetime">[{{bug.createdAt | elapsed}}]</div>
		</li>
	</ol>
	<input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>